
.navbar{
    text-align: center; 
    margin-left: 450px;  
 
}


h3{
    text-align: center;
    position:relative;
}
#display-fav-superhero{
    height: 100px;
    width: 200px;  
    display: flex;
    float:right;
    margin-right: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}